<!--
  Generated template for the EditReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the EditReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header margin-bottom="50px" >

	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Review List</ion-title>
	</ion-navbar>
</ion-header >



<ion-content margin-top="200px" >
	<ion-list class="list-full-border"*ngFor="let review of reviews; let id = index">
		<ion-card>


			<!--<ion-item  >-->
			<ion-card-content>
				<!--<h2 class ="fw700">{{review.user_id}}</h2>-->
				<h2 class="fw700">

					<ion-badge color="secondary" class="text-1x">
						<ion-icon name="star"></ion-icon>
						{{ review.star }}
					</ion-badge>
				</h2>

				<p ion-text>
					{{ review.content }}
				</p>
				<span ion-text class="author text-11x">Customer ID: {{review.user_id}}</span>
				<br>

				<span ion-text class="author text-11x">WHEN {{ review.time }}</span>

			</ion-card-content>
			<!--</ion-item>-->
			<ion-row no-padding>

				<ion-col text-center>
					<button  ion-button clear small color="danger" (click)="presentAlert()">
						<ion-icon name='trash'></ion-icon>
						Delete Review
					</button>
				</ion-col>

			</ion-row>

		</ion-card>
	</ion-list>
</ion-content>






<!--<ion-header>-->
	<!--<ion-navbar color="primary">-->
		<!--<button ion-button menuToggle>-->
			<!--<ion-icon name="menu"></ion-icon>-->
		<!--</button>-->
		<!--<ion-title>-->
			<!--<span ion-text class="fw700">Review List</span>-->
		<!--</ion-title>-->
	<!--</ion-navbar>-->
<!--</ion-header>-->



<!--<ion-content margin-top="200px" *ngFor="let review of reviews; let id = index">-->
	<!--<br><br>-->
	<!--<ion-card>-->
		<!--<ion-list class="list-full-border">-->
			<!--<ion-item  margin-bottom text-wrap>-->
				<!--<h2 class="fw700">-->
					<!--{{review.store}}-->
					<!--<ion-badge color="secondary" class="text-1x">-->
						<!--<ion-icon name="star"></ion-icon>-->
						<!--{{ review.star }}-->
					<!--</ion-badge>-->
				<!--</h2>-->

				<!--<p ion-text>-->
					<!--{{ review.content }}-->
				<!--</p>-->
				<!--<span ion-text class="author text-11x">{{review.user_id}} {{ review.time }}</span>-->
				<!--&lt;!&ndash;<button item-right ion-button small (click)="editReview()" >Edit Review</button>&ndash;&gt;-->
				<!--<button item-right ion-button small (click)="presentAlert(id)" >Delete</button>-->
			<!--</ion-item>-->
		<!--</ion-list>-->

	<!--</ion-card>-->
<!--</ion-content>-->
